services:
  xyops01:
    image: ghcr.io/pixlcore/xyops:latest
    hostname: xyops01
    restart: unless-stopped
    volumes:
      - xy-data:/opt/xyops/data
    environment:
      - TZ=Europe/Paris
    ports:
      - "5522:5522"
      - "5523:5523"

  movie_pipeline_xysat01:
    image: fripiane/movie_pipeline_xysat:0.2.14
    restart: unless-stopped
    volumes:
      - ${PATHS_INPUT_FOLDER:?error}:/app/inputs
      - ${PATHS_MOVIES_FOLDER?:error}:/app/movies
      - ${PATHS_SERIES_FOLDER:?error}:/app/series
      - ${PATHS_BACKUP_FOLDER?:error}:/app/backup
      - ${ARCHIVE_BASE_BACKUP_FOLDER?:error}:/app/archive
      - ${SEGMENTDETECTION_TEMPLATES_PATH?:error}:/app/resources/logo
      - ${LOGGER_LOG_FOLDER?:error}:/app/logs
    environment:
      - ffmpeg_hwaccel=cuda
      - ffmpeg_vcodec=hevc
      - Archive__base_backup_path=/app/archive
      - Archive__movies_archive_folder=/app/archive/Films
      - SegmentDetection__templates_path=/app/resources/logo
      - XYOPS_setup=${XYOPS_setup?:error}
    depends_on:
      - xyops01
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu,video]

volumes:
  xy-data:
