services:
  movie_pipeline_cronicle:
    image: fripiane/movie_pipeline_cronicle:0.2.12
    hostname: manager1
    ports:
      - 3012:3012
    entrypoint: manager
    volumes:
      - ${PATHS_INPUT_FOLDER:?error}:/app/inputs
      - ${PATHS_MOVIES_FOLDER?:error}:/app/movies
      - ${PATHS_SERIES_FOLDER:?error}:/app/series
      - ${PATHS_BACKUP_FOLDER?:error}:/app/backup
      - ${ARCHIVE_BASE_BACKUP_FOLDER?:error}:/app/archive
      - ${SEGMENTDETECTION_TEMPLATES_PATH?:error}:/app/resources/logo
      - ${LOGGER_LOG_FOLDER?:error}:/app/logs
      - ./movie_pipeline/jobs/data:/opt/cronicle/data
    environment:
      - ffmpeg_hwaccel=cuda
      - ffmpeg_vcodec=hevc
      - Archive__base_backup_path=/app/archive
      - Archive__movies_archive_folder=/app/archive/Films
      - SegmentDetection__templates_path=/app/resources/logo
      - CRONICLE_secret_key=${CRONICLE_secret_key:?error}
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu,video]
