<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<episodedetails>
    <title>{{ tag_line|e }}</title>
    <showtitle>{{ title|e }}</showtitle>
    <ratings>
        {% for rating_name, rating_value in (metadata.get('com.synology.TheMovieDb.Tv') or metadata['com.synology.TheMovieDb'])['rating']|items %}
        <rating name="{{ rating_name|e }}" max="10">
            <value>{{ rating_value|e }}</value>
        </rating>
        {% endfor %}
    </ratings>
    <userrating>0</userrating>
    <season>{{ tv_data.season|e }}</season>     <!-- Required for multi-episode files only -->
    <episode>{{ tv_data.episode|e }}</episode>  <!-- Required for multi-episode files only -->
    <plot>{{ summary|e }}</plot>
    {% for poster in (metadata.get('com.synology.TheMovieDb.Tv') or metadata['com.synology.TheMovieDb'])['poster'] %}
    <thumb spoof="" cache="" aspect="thumb" preview="">{{ poster|e }}</thumb>
    {% endfor %}
    <mpaa>{{ classification|e }}</mpaa>
    {% for reference_type, reference_id in (metadata.get('com.synology.TheMovieDb.Tv') or metadata['com.synology.TheMovieDb'])['reference']|items %}
    <uniqueid type="{{ reference_type|e }}">{{ reference_id|e }}</uniqueid>
    {% endfor %}
    {% for genre in credits.genre %}
    <genre>{{ genre|e }}</genre>
    {% endfor %}
    {% for credit in credits.writer %}
    <credits>{{ credit|e }}</credits>
    {% endfor %}
    {% for director in credits.director %}
    <director>{{ director|e }}</director>
    {% endfor %}
    <premiered>{{ tv_data.release_date|e }}</premiered> <!-- yyyy-mm-dd -->
    <year>{{ year|e }}</year>
    <aired>{{ release_date|e }}</aired> <!-- yyyy-mm-dd -->
    {% for actor in credits.cast %}
    <actor>
        <name>{{ actor|e }}</name>
        <role></role>
        <order>{{ loop.index }}</order>
    </actor>
    {% endfor %}
</episodedetails>
