<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<movie>
    <title>{{ title|e }}</title>
    <sorttitle>{{ title2|e }}</sorttitle>
    <ratings>
       {% for rating_name, rating_value in metadata['com.synology.TheMovieDb']['rating']|items %}
        <rating name="{{ rating_name|e }}" max="10">
            <value>{{ rating_value|e }}</value>
        </rating>
        {% endfor %}
    </ratings>
    <userrating>0</userrating>
    <plot>{{ summary|e }}</plot>
    <tagline>{{ tag_line|e }}</tagline>
    {% for poster in metadata['com.synology.TheMovieDb']['poster'] %}
    <thumb spoof="" cache="" aspect="poster" preview="">{{ poster|e }}</thumb>
    {% endfor %}
    <fanart>
        {% for backdrop in metadata['com.synology.TheMovieDb']['backdrop'] %}
        <thumb colors="" preview="">{{ backdrop|e }}</thumb>
        {% endfor %}
    </fanart>
    <mpaa>{{ classification|e }}</mpaa>
    {% for reference_type, reference_id in metadata['com.synology.TheMovieDb']['reference']|items %}
    <uniqueid type="{{ reference_type|e }}">{{ reference_id|e }}</uniqueid>
    {% endfor %}
    {% for genre in credits.genre %}
    <genre>{{ genre|e }}</genre>
    {% endfor %}
    <tag></tag>
    <country></country>
    {% for credit in credits.writer %}
    <credits>{{ credit|e }}</credits>
    {% endfor %}
    {% for director in credits.director %}
    <director>{{ director|e }}</director>
    {% endfor %}
    <premiered>{{ release_date|e }}</premiered> <!-- yyyy-mm-dd -->
    <year>{{ year }}</year>
    {% for actor in credits.cast %}
    <actor>
        <name>{{ actor|e }}</name>
        <role></role>
        <order>{{ loop.index }}</order>
    </actor>
    {% endfor %}
</movie>
