<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<tvshow>
    <title>{{ title|e }}</title>
    <ratings>
        {% for rating_name, rating_value in (metadata.get('com.synology.TheMovieDb.Tv') or metadata['com.synology.TheMovieDb'])['rating']|items %}
        <rating name="{{ rating_name|e }}" max="10">
            <value>{{ rating_value|e }}</value>
        </rating>
        {% endfor %}
    </ratings>
    <userrating>0</userrating>
    <plot>{{ tv_data.summary|e }}</plot>
    {% if tv_data.metadata|length %}
    {% for poster in (tv_data.metadata.get('com.synology.TheMovieDb.Tv') or tv_data.metadata['com.synology.TheMovieDb'])['poster'] %}
    <thumb spoof="" cache="" aspect="poster" preview="">{{ poster|e }}</thumb>
    {% endfor %}
    <fanart>
        {% for backdrop in (tv_data.metadata.get('com.synology.TheMovieDb.Tv') or tv_data.metadata['com.synology.TheMovieDb'])['backdrop'] %}
        <thumb colors="" preview="">{{ backdrop|e }}</thumb>
        {% endfor %}
    </fanart>
    {% endif %}
    <mpaa>{{ classification|e }}</mpaa>
    {% for reference_type, reference_id in (metadata.get('com.synology.TheMovieDb.Tv') or metadata['com.synology.TheMovieDb'])['reference']|items %}
    <uniqueid type="{{ reference_type|e }}">{{ reference_id|e }}</uniqueid>
    {% endfor %}
    {% for genre in credits.genre %}
    <genre>{{ genre|e }}</genre>
    {% endfor %}
    <premiered>{{ tv_data.release_date|e }}</premiered> <!-- yyyy-mm-dd -->
    <year>{{ tv_data.year|e }}</year>
    <status></status>
    <studio></studio>
    {% for actor in credits.cast %}
    <actor>
        <name>{{ actor|e }}</name>
        <role></role>
        <order>{{ loop.index }}</order>
    </actor>
    {% endfor %}
</tvshow>
